*{margin: 0;padding: 0;}
body{
	background-color: #4B6982;
	/*padding: 30px;*/
}

button,input{
	width: 80%;
	float: left;
	padding: 30px;
	box-sizing: border-box;
	border: none;
}


.right{
		float: right;
}
.logo{
	    max-width: 200px;
}
header{  
	    background: #2f7de1;
	    padding: 10px 30px;
}
header nav a {
    color: #e2eafa;
    text-decoration: none;
}
li{
	list-style: none;
}

.list-inline-item:not(:last-child) {
    margin: 5px 0 !important;
}

h1{
	text-align: center;
	font-size:25px !important;
}
.products{
	clear: both;
	padding:17px 0 0;
}

/*PRODUCT TILE
-------------------------*/
.product-tile .actions.actions.actions.actions.actions a {
    color: #fff;
    cursor: pointer;
}
.colors{
	position: absolute;
    right: 40px;
    bottom: 69px;
}
.colors li{
	width: 20px;
	height: 20px;
	background: #ccc;
	border-radius: 50%;
	margin: 5px;
	float: left;
}

.colors li.active{
	background: #000;
}


/*HOMEPAGE
-------------------------*/
.banner{
	padding: 0 0 30px;
}

	.banner img{
	width: 100%;
	vertical-align: initial;
	margin-top: -10px;
}


