<section class="product-tile">
 	<ul>
 		<li data-ng-repeat="item in data" data-ng-show="$index == colorIndex">
			<div class="card-deck">
			  <div class="card">
			   <a ui-sref="pdp({pid:item.productId})">
			    	<img class="img-fluid card-img-top" src="{{item.productImage}}" alt="Card image cap">
			    </a>
			    <div class="card-block">
			      <h4 class="card-title">{{item.productName}}</h4>
			      <p class="card-text">{{item.productDescription}}</p>
			      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

			       <div class="actions">
			      	 <a class="btn btn-primary">Add to Cart</a>
			      	 <a ui-sref="pdp({pid:item.productId})" class="btn btn-primary">View Details</a>
			      </div>
			     
			    </div>

			  </div>
			</div>
			
 		</li>
 		<ul class="colors" >  
				<li data-ng-repeat="item in data" data-ng-class="{'active': $index == colorIndex}" data-ng-click="changeColor($index)"> </li>
		</ul>
 	</ul>
</section>


